/* ---HEADER CSS--- */

#header {
    margin-bottom: 10px;
}

/* ---LOGIN, REGISTER, NEW ITEM, EDIT ITEM CSS --- */

#login-container, .item-form-container {
    display: flex;
    justify-content: center;
}

#login, .item-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
}

#login-field, .item-field {
    min-width: 350px;
    max-width: 500px;
    margin-bottom: 15px;
}

#login-buttons {
    width: 100px;
}

.item-form-button {
    width: 150px;
}

#login-buttons:first-of-type {
    margin-right: 5px;
}